<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>teleNex</title>
	<!-- Bootstrap and JQuery -->
	<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
	<script src="bootstrap.min.js"></script>
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="public/css/app.css">
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<!-- Plotly.js -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<!-- Webcam.js -->
	<script href="webcam.js"></script>
	<!-- Javascript Files -->
	<script src="app.js"></script>
</head>
<body ng-app="teleNex" ng-controller="MainController as MainCtrl">
	<div class="container">

		<div class="row">
			<div id="results">Your captured image will appear here...</div>
			
			<h1>WebcamJS Test Page</h1>
			<h3>Demonstrates simple 320x240 capture &amp; display</h3>
			
			<div id="my_camera"></div>
			
			<!-- First, include the Webcam.js JavaScript Library -->
			<script type="text/javascript" src="../webcam.js"></script>
			
			
			<!-- A button for taking snaps -->
			<button class="btn btn-default center-block text-center" ng-click="takePhoto()">Take Photo</button>
			
			
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h1 class="text-center">teleNex</h1>
				<div id="myDiv" style=""></div>
			</div>
		</div>
		<div class="col-md-12">
			<br><br>
			<button class="btn btn-default center-block text-center" ng-click="randomEntry()">Random Entry</button>
		</div>
	</div>

</html>